<div id="auth_left_panel">
    <h1 id="auth_main_title">Create an account</h1>

    <p class="auth_input_label">Username</p>
    <input type="text" class="auth_input">
    
    <p class="auth_input_label">Email address</p>
    <input type="text" class="auth_input">
    
    <p class="auth_input_label">Password</p>
    <input type="password" class="auth_input">
    
    
    <div id="auth_buttons_wrapper">
        <button id="auth_submit">Register</button>
        <button id="auth_google">Sign up with Google</button>
    </div>
    
    <p id="auth_tertiary_link" (click)=goToLogin()>I already have an account</p>
</div>
<div id="auth_right_panel"></div>
<img src="../../assets/logo_extended.png" id="auth_logo">