<div id="auth_left_panel">
    <h1 id="auth_main_title">Welcome to the<br>Ontrack experience</h1>

    <p id="auth_main_paragraph">Ontrack is a live workflow and project progress tracking platform, that you and your team can now use to improve your communication over your projects. Sign in or create a new account to start using it.</p>
    
    <p id="auth_secondary_paragraph">New to Ontrack? <span id="auth_secondary_link" (click)=goToRegister()>Create your account</span>.</p>
    
    <p id="auth_tertiary_link" (click)=goToLogin()>Sign into Ontrack</p>
</div>
<div id="auth_right_panel"></div>
<img src="../../assets/logo_extended.png" id="auth_logo">