<div id="navbar_left">
    <img src="../../assets/logo_icon.png" id="navbar_logo" (click)=goToHome()>
    <input id="navbar_search" placeholder="Search...">
    <div class="navbar_item" (click)=goToHome()>Home</div>
    <div class="navbar_item" (click)=goToProjects()>Projects</div>
    <div class="navbar_item" (click)=goToSchedule()>Schedule</div>
</div>
<div id="navbar_right">
    <div class="navbar_item" (click)=goToInvoices()>Invoices</div>
    <div id="avatar_wrapper">
        <div id="avatar_circle"></div>
        <svg viewBox="0 0 298 169" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.0048 0H277.305C295.105 0 304.005 21.5 291.405 34.1L162.805 162.8C155.005 170.6 142.305 170.6 134.505 162.8L5.90481 34.1C-6.69519 21.5 2.20481 0 20.0048 0Z" fill="black"/>
        </svg>
    </div>
</div>