<div id="auth_left_panel">
    <h1 id="auth_main_title">Sign into Ontrack</h1>

    <p class="auth_input_label">Username or email address</p>
    <input type="text" class="auth_input">
    
    <p class="auth_input_label">Password</p>
    <input type="password" class="auth_input">
    
    
    <div id="auth_buttons_wrapper">
        <button id="auth_submit">Sign in</button>
        <button id="auth_google">Sign in with Google</button>
    </div>
    
    <p id="auth_tertiary_link" (click)=goToRegister()>I don’t have an account</p>
</div>
<div id="auth_right_panel"></div>
<img src="../../assets/logo_extended.png" id="auth_logo">